h1 {
  font-weight: 800
}

h2 {
  font-weight: 800;
}

.DisplayPost h2, .DisplayPost h1, .DisplayPost h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.DisplayPost h2, .DisplayPost h3 {
  font-size: large;
}

.DisplayPost p, .DisplayPost ol, .DisplayPost li {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.DisplayPost img {
  width: 100%;
  height: auto;
}

.DisplayPost p code {
  background-color: lightgray;
  font-size: large;
  border-radius: 3px;
  padding: .1em .2em;
}